:root {
  --heading-font: "PT Sans", sans-serif;
  --secondary-font: "Source Sans 3", sans-serif;
  --primary-color: rgb(184, 2, 87);
  --secondary-color: rgb(120, 61, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

a {
  color: inherit;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header-wapper {
  display: flex;
  width: 100%;
  min-height: 496px;
  background: url(./img/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.header-wapper .inner {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  /*  display: flex; có tác dụng làm cho container thành flex-item , có height băng đúng .inner */
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-header .nav {
  display: flex;
}

.nav-btn {
  display: flex;
}

.nav .nav__item {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  padding: 20px;
  cursor: pointer;

}
.nav > li {
   position: relative;
}
.nav > li:hover .sub-menu{
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition:opacity .3s,transform .3s;
}
.nav .sub-menu{
 position: absolute;
 top:100%;
 left: -20px;
 width: 220px;
 background-color: #fff;
 opacity: 0;
 visibility: hidden;
 transform: scale(0);
 transform-origin: top;
 transition: opacity .3s,transform .3s,visibility 0s ease-in-out .3s;
}
.nav .sub-menu li:hover{
  background-color: var(--primary-color);
}
.nav .sub-menu li:hover a{
  color: #fff;
}
 .nav .sub-menu a:hover{
  transform: translateX(10px);
}
.nav .sub-menu  li a{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 45px;
     text-decoration: none;
    display: block;
    padding: 0 0 0 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.action-header {
  display: flex;
  gap: 20px;

}

.action-btn {
  font-size: 2rem;
  color: #fff;
  padding: 1px;

}

.header-container {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFF;
}

.breadcrum {
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  font-size: 1.5rem;
}

.content-title {
  font-size: 3.2rem;
  font-family: var(--heading-font);
  font-weight: 700;
}

.breadcrum li+li::before {
  content: "/";
  color: rgba(255, 255, 255, 0.8);
  padding: 0 8px;
}


/* start main  */
main {
  margin-top: 110px;
  margin-bottom: 100px;
}

main .inner {
  display: flex;
  gap: 30px;
}

.sidebar {
  width: 270px;
}

.form-search {
  display: flex;
  align-self: center;
  border-radius: 20px;
  width: 100%;
  height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  overflow: hidden;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding-left: 20px;
}

.search-btn {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  align-self: stretch;
}

.sidebar-title {
  margin-top: 30px;
  font-weight: 700;
  margin-bottom: 20px;

}

.sidebar-menu {
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.sidebar-menu li a {
  text-decoration: none;
  display: block;
  padding: 0 25px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: transform linear 0.3s;
}
.sidebar-menu li a:hover{
  color: var(--secondary-color);
  transform:translateX(10px);
}

.main-content {
  flex: 1;

}

.course-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 40px;
  margin-bottom: 60px;

}

.course-menu a {
  display: block;
  text-decoration: none;
  padding: 0 14px;
  color: rgba(0, 0, 0, 0.8);
  height: 30px;
  line-height: 30px;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  border-radius: 20px;
}


.course-menu a:hover {
  background-color: var(--secondary-color);
  color: #fff;
 
}

.course-menu .active {
  background-color: var(--secondary-color);
  border-radius: 20px;
  color: #fff
}

.course-list {
  --spacing: 30px;
  --columns: 3;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-top: 60px;
  margin-left: calc(-1 * var(--spacing));

}

.single-course {
  display: flex;
  flex-direction: column;
  width: calc(100% / var(--columns) - var(--spacing));
  margin-left: var(--spacing);
  border: 1px solid #eeeeee;

}

.course-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
   transition: all 0.6s ease-in-out;
  

}
.badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: var(--primary-color) ;
    color: #fff;
  
}
.badge i{
    position: absolute;
    top: 10px;  
    right: 12px;
    color: #fff;
    font-size: 18px;
    transform: rotate(32deg);
    z-index: 3;
}

.thumb-wapper {
  display: block;
  aspect-ratio: 1 / 0.8;
   overflow: hidden;
    position: relative;

}
.course-img:hover{
  transform: scale(1.2);
  opacity: 0.8;
}

.main-course {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;

}

.main-course a {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: var(--secondary-font);
  color: #464646;
  line-height: 24px;
  font-weight: 700;

}

.main-course .desc {
  margin: 20px 0;
  color: #000;
  line-height: 22px;
}

.main-course .user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: auto;


}

.name, .quantity, .icon-user {
  color: rgba(0, 0, 0, 0.6);
}

.main-course .price-free {
  display: block;
  width: 66px;
  font-size: 1.5rem;
  line-height: 32px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
transition: all .3s ease-in-out;
}
.main-course .price-free:after, .main-course .price:after{
     content: "";
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translateX(-50%);
    width: 70%;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    filter: blur(8px);
    opacity: 0;
    
}
.main-course .price-free:hover, .main-course .price:hover {
  transform: translate(0, -10px);
}
.main-course .price-free:hover::after, .main-course .price:hover::after {
    opacity: 1;
    width: 85%;
    filter: blur(8px);
}


.main-course .price {
  display: block;
  width: 66px;
  font-size: 1.5rem;
  line-height: 32px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: var(--primary-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: all .3s ease-in-out;

}

/* end main  */

.pagination-list {
  display: flex;
  align-items: center;
  padding: 45px 0 0;
  gap: 10px;
}

.pagination-list li a {
  text-decoration: none;
  display: block;
  width: 29px;
  line-height: 27px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: 1.5rem;
  transition: color linear 0.6s;
}

.pagination-list li a:hover {
  color: #783df0;
  border: 1px solid #783df0;
}

.pagination-list li:first-child a {
  color: #783df0;
  border: 1px solid #783df0;
}

.pagination-list li:last-child a {
  display: block;
  font-size: 1.4rem;
  border: none;
  background: var(--secondary-color);
  color: #fff;
  width: 100%;
  padding: 0 8px;

}

footer {
  background-color: #151515;
  color: #a0a0a0;
  padding: 80px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
}

.footer-content .desc p {
  margin-top: 6px;
}

.footer-logo {
  flex: 1 1 300px;
}

.footer-list {
  flex: 1 1 200px;
}

.footer-subscribe {

  flex: 1 1 300px;
}

/* .logo-img  .logo{
    margin-bottom: 20px;
} */

.logo-img img {
  max-width: 150px;
}

.footer-logo .desc {
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 1.4rem;
}

.footer-logo .desc p {
  margin-bottom: 10px;
}

.link-down {
  display: flex;
  gap: 10px;
  align-items: center;
}


/* .link-down img {
    max-height: 40px;
} */


.footer-list h6,
.footer-subscribe h6 {
  /* height:53px; */
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 600;
}

.footer-item {
  list-style: none;
}

.footer-item li {
  margin-bottom: 15px;
}

.footer-item li a {
  text-decoration: none;
  color: #a0a0a0;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.footer-item li a:hover {
  color: var(--primary-color);
}

.footer-subscribe .desc {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.6;
}

.footer-subscribe form {
  margin-top: -35px;
}

.input-text {
  width: 100%;
  height: 40px;
  background: #272727;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  margin: 25px 0 10px 0;
  color: rgba(255, 255, 255, 0.6);
}

.input-text:focus {
  border-color: var(--primary-color);
}

.btn-submit {
  width: 95px;
  background-color: var(--primary-color);
  line-height: 40px;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.action-scroll {
   position: fixed;
    right: 30px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}