/* CSS Menu Enhanced START*/
.menu-bg {
  background-color: #0e0e0e;
}
.menu {
  background: #4a70ce;
  width: 956px;
  height: 410px;
  margin: 0 auto;
  margin-top: 8px;
  text-align: center;
}
.menu-list {
  display: inline-block;
  background-color: #3e5cca;
  width: auto;
  font-size: 0;
}

.menu-list li {
  display: inline-block;
  border-right: 1px solid #ffffff59;
}

.menu-list li:last-child {
  border-right: none;
}
.menu-list li a::before {
  content: "\25B6";
  font-size: 1rem;
  color: #0ae867;
  margin-right: 6px;
}

.menu-list li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 16px 19px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.menu-list li a:hover {
  background-color: #aa3022;
  color: #0ae867;
}
.menu-list li a:active {
  background-color: #e7fb04;
}

/* CSS Menu Enhanced END*/

/* CSS FORM START*/
/* .form-bg{
  background-color: #ffe4c9  ;
} */

.form-register:focus-within {
  border: 2px solid #71532512;
  background-color: #ffe4c98f;
}
.form-register {
  max-width: 500px;
  background-color: #ffe4c9;
  padding: 20px 40px;
  margin: 10px auto;
  border-radius: 20px;
}
.form-register h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #383838;
}
.form-label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 14px 0 4px;
}
.form-avatar img {
  border-radius: 20px;
  cursor: pointer;
}
.form-input {
  padding: 8px;
  border: none;
  border-radius: 10px;
  width: 100%;
  outline: none;
}
.form-gender {
  display: flex;
  gap: 20px;
}
.input[type="radio"] {
  display: inline-block;
  margin-top: -2px;
}
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: #eb9320;
  border-radius: 10px;
  color: aliceblue;
  display: block;
  margin: 16px auto 8px;
  width: 50%;
}
.btn:active {
  background-color: #138fbd;
}
.btn:hover {
  background-color: #e98707;
}
input:focus {
  border: 2px solid #5dab09;
}
input:invalid {
  border: 2px solid #c02323;
}

.form-group:has(input[required]) .form-label::after {
  content: "(*)";
  color: #d30b0be8;
  font-weight: 500;
}
.form-group:has(input[required]:not(:placeholder-shown)) .form-label::after {
  content: "";
}
/* CSS FORM END */

/* CSS PRICING START */
.pricing-container {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  background-color: #f9f6f0;
  border-radius: 10px;
  height: 740px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pricing-title {
  text-align: center;
  color: #4a3f35;
  font-family: "Lora", serif;
  padding-top: 20px;
}
.pricing-line {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #c4a37a;
  border-radius: 5px;
  margin: 0 auto;
}
.pricing-desc {
  color: #827871;
  text-align: center;
}
.pricing-months {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 20px;
  background-color: #fff;
  margin: 0 auto;
  display: block;
  width: fit-content;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}
.pricing-months .item {
  display: inline-block;
  margin-right: 16px;
  color: #5e411d;
}
.pricing-months .item:hover {
  background-color: #4a3f35;
  padding: 6px;
  border-radius: 30px;
  color: #fff;
}
.pricing-months .item-active {
  background-color: #4a3f35;
  padding: 6px;
  border-radius: 30px;
  color: #fff;
}

.pricing-plans {
  display: flex;
  gap: 10px;
  margin-top: 26px;
  justify-content: space-around;
}
.pricing-basic {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 300px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease-in-out;
}
.basic-title {
  text-align: center;
  color: #5e411d;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.basic-desc {
  color: #827871;
  text-align: center;
}
.basic-price {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  color: #826e5c;
}
.price-des {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  color: #826e5c;
}
.price-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.price-items li {
  margin-bottom: 8px;
  color: #4a3f35;
  padding: 0 20px;
}
.price-items li::before {
  content: "✔";
  color: #4a3f35;
  margin-right: 8px;
}
.pricing-btn {
  background-color: #6d594c;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
.pricing-btn:hover {
  background-color: #d78f37;
}

.most-popular::before {
  content: "Most Polular";
  display: block;
  width: fit-content;
  border-radius: 10px;
  padding: 6px;
  background-color: #c4a37a;
  color: #ffffff;
  margin: -22px auto 0;
  left: 50%;
  z-index: 1;
}

.pricing-plans .pricing-basic:nth-child(2) {
  background-color: #4a3f35;
}
.pricing-plans .pricing-basic:nth-child(2) .basic-title {
  color: #ffffff;
}
.pricing-plans .pricing-basic:nth-child(2) .basic-desc {
  color: #c4a37a;
}
.pricing-plans .pricing-basic:nth-child(2) .price-des {
  color: #c4a37a;
}

.pricing-plans .pricing-basic:nth-child(2) .basic-price {
  color: #fff;
}

.pricing-plans .pricing-basic:nth-child(2) .price-items li {
  color: #f0f0f0;
}

.pricing-plans .pricing-basic:nth-child(2) .pricing-btn {
  background-color: #c4a37a;
  color: #4a3f35;
}

.pricing-basic:hover {
  transform: translate(0, -10px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.15);
}

/* CSS PRICING END */
