<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <%- include("./partials/head.ejs") %>
</head>

<body class="page-about">
    <header class="header-wrapper">
        <%- include("./partials/header.ejs") %>

    </header>

    <main>
        <section class="heading-text">
            <div class="container">
                <div class="row  offset-3 row-cols-md-1 offset-md-0">
                    <div class="col-9">
                        <h2 class="heading-text__title">You can count on the undivided attention of a team that
                            prizes
                            relationships over profits.
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="video">
            <div class="container">
                <div class="row  row-cols-2 row-cols-md-1  gy-2">
                    <div class="col">
                        <div class="video-wrapper">
                            <img src="./img/about-1.png" alt="" class="thumb">
                            <div class="action-play">
                                <i class="fa-solid fa-play"></i>
                            </div>
                            <div class="bg">
                                <span class="name">An Interview With Raymond King</span>
                                <span class="desc">Comparison between various civil law and private law
                                    institutions</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="video-wrapper">
                            <img src="./img/about-1.png" alt="" class="thumb">
                            <div class="action-play">
                                <i class="fa-solid fa-play"></i>
                            </div>
                            <div class="bg">
                                <span class="name">An Interview With Raymond King</span>
                                <span class="desc">Comparison between various civil law and private law
                                    institutions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="history">
            <div class="container">
                <div class="row row-cols-2 row-cols-md-1 gy-2">
                    <div class="col">
                        <div class="history-text">
                            <div class="history-text__subtitle">History</div>
                            <div class="history-text__title">Through And Complete Attention to Law</div>
                            <div class="history-text__desc">
                                While Mr. Parmele, his paralegals, and clerks are busy assisting you with your
                                forms,
                                helping you assemble your documentation, and keeping you updated regularly, Mr.
                                Parmele
                                is busy behind the scenes, focusing on winning your case.
                                Your initial meeting with Parmele Law Firm sets in motion the difficult – and
                                tedious –
                                process of getting your benefits for you.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="history-image">
                            <img src="./img/history.png" alt="Attention to Law">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="exp">
            <div class="container">
                <div class="row">
                    <div class="col-8 offset-2 col-md-12 offset-md-0">
                        <div class="exp__label">OUR EXPERIENCE</div>
                        <h2 class="exp__title">20 Years of Experience In Various Cases</h2>
                        <p class="exp__desc">
                            Asbestos.com is proud to donate to organizations that raise awareness and support
                            ongoing research on mesothelioma, cancer
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
        <script type="module" src="./main.js"></script>
</body>

</html>