<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <%- include("./partials/head.ejs") %>
</head>

<body class="page-blog">
    <header class="header-wrapper">
        <%- include("./partials/header.ejs") %>

    </header>
    <main>
        <div class="my-blog">
            <div class="container">
                <div class="row">
                    <div class="col-6 offset-3 col-md-12 offset-md-0">
                        <div class="my-blog__title">Latest Story From My Blog</div>
                        <div class="my-blog__desc">
                            Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed favorites.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lastest-story">
            <div class="container">
                <div class="row row-cols-3 gy-3 row-cols-md-1 ">
                    <div class="col">
                        <article class="blog-card blog-card--border ">
                            <div class="blog-card__media">
                                <img src="./img/about-2.png" alt="Design inspiration" class="blog-card__img">
                            </div>

                            <div class="blog-card__content">
                                <div class="blog-card__meta">
                                    <span class="blog-card__icon">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <time datetime="2021-02-21">Feb 21 2021</time>
                                </div>

                                <h3 class="blog-card__title ">Designe Inspiration</h3>

                                <p class="blog-card__desc blog-card__desc--small">
                                    Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed
                                    favorites.
                                </p>

                                <a href="#!" class="blog-card__link blog-card__link--large ">READ MORE</a>
                            </div>
                        </article>
                    </div>

                    <div class="col">
                        <article class="blog-card blog-card--border">
                            <div class="blog-card__media">
                                <img src="./img/blog-5.png" alt="Design inspiration" class="blog-card__img">
                            </div>

                            <div class="blog-card__content">
                                <div class="blog-card__meta">
                                    <span class="blog-card__icon">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <time datetime="2021-02-21">Feb 21 2021</time>
                                </div>

                                <h3 class="blog-card__title ">Designe Inspiration</h3>

                                <p class="blog-card__desc blog-card__desc--small">
                                    Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed
                                    favorites.
                                </p>

                                <a href="#!" class="blog-card__link blog-card__link--large">READ MORE</a>
                            </div>
                        </article>
                    </div>

                    <div class="col">
                        <article class="blog-card blog-card--border">
                            <div class="blog-card__media">
                                <img src="./img/about-4.png" alt="Design inspiration" class="blog-card__img">
                            </div>

                            <div class="blog-card__content">
                                <div class="blog-card__meta">
                                    <span class="blog-card__icon">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <time datetime="2021-02-21">Feb 21 2021</time>
                                </div>

                                <h3 class="blog-card__title ">Designe Inspiration</h3>

                                <p class="blog-card__desc blog-card__desc--small">
                                    Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed
                                    favorites.
                                </p>

                                <a href="#!" class="blog-card__link blog-card__link--large">READ MORE</a>
                            </div>
                        </article>
                    </div>

                    <div class="col">
                        <article class="blog-card blog-card--border">
                            <div class="blog-card__media">
                                <img src="./img/blog-5.png" alt="Design inspiration" class="blog-card__img">
                            </div>

                            <div class="blog-card__content">
                                <div class="blog-card__meta">
                                    <span class="blog-card__icon">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <time datetime="2021-02-21">Feb 21 2021</time>
                                </div>

                                <h3 class="blog-card__title ">Designe Inspiration</h3>

                                <p class="blog-card__desc blog-card__desc--small">
                                    Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed
                                    favorites.
                                </p>

                                <a href="#!" class="blog-card__link blog-card__link--large">READ MORE</a>
                            </div>
                        </article>
                    </div>

                    <div class="col">
                        <article class="blog-card blog-card--border">
                            <div class="blog-card__media">
                                <img src="./img/blog-6.png" alt="Design inspiration" class="blog-card__img">
                            </div>

                            <div class="blog-card__content">
                                <div class="blog-card__meta">
                                    <span class="blog-card__icon">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <time datetime="2021-02-21">Feb 21 2021</time>
                                </div>

                                <h3 class="blog-card__title ">Designe Inspiration</h3>

                                <p class="blog-card__desc blog-card__desc--small">
                                    Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed
                                    favorites.
                                </p>

                                <a href="#!" class="blog-card__link blog-card__link--large">READ MORE</a>
                            </div>
                        </article>
                    </div>

                    <div class="col">
                        <article class="blog-card blog-card--border">
                            <div class="blog-card__media">
                                <img src="./img/blog-7.png" alt="Design inspiration" class="blog-card__img">
                            </div>

                            <div class="blog-card__content">
                                <div class="blog-card__meta">
                                    <span class="blog-card__icon">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <time datetime="2021-02-21">Feb 21 2021</time>
                                </div>

                                <h3 class="blog-card__title ">Designe Inspiration</h3>

                                <p class="blog-card__desc blog-card__desc--small">
                                    Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed
                                    favorites.
                                </p>

                                <a href="#!" class="blog-card__link blog-card__link--large">READ MORE</a>
                            </div>
                        </article>
                    </div>

                    <div class="col">
                        <article class="blog-card blog-card--border">
                            <div class="blog-card__media">
                                <img src="./img/blog-5.png" alt="Design inspiration" class="blog-card__img">
                            </div>

                            <div class="blog-card__content">
                                <div class="blog-card__meta">
                                    <span class="blog-card__icon">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <time datetime="2021-02-21">Feb 21 2021</time>
                                </div>

                                <h3 class="blog-card__title ">Designe Inspiration</h3>

                                <p class="blog-card__desc blog-card__desc--small">
                                    Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed
                                    favorites.
                                </p>

                                <a href="#!" class="blog-card__link blog-card__link--large">READ MORE</a>
                            </div>
                        </article>
                    </div>

                    <div class="col">
                        <article class="blog-card blog-card--border">
                            <div class="blog-card__media">
                                <img src="./img/blog-6.png" alt="Design inspiration" class="blog-card__img">
                            </div>

                            <div class="blog-card__content">
                                <div class="blog-card__meta">
                                    <span class="blog-card__icon">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <time datetime="2021-02-21">Feb 21 2021</time>
                                </div>

                                <h3 class="blog-card__title ">Designe Inspiration</h3>

                                <p class="blog-card__desc blog-card__desc--small">
                                    Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed
                                    favorites.
                                </p>

                                <a href="#!" class="blog-card__link blog-card__link--large">READ MORE</a>
                            </div>
                        </article>
                    </div>

                    <div class="col">
                        <article class="blog-card blog-card--border">
                            <div class="blog-card__media">
                                <img src="./img/blog-7.png" alt="Design inspiration" class="blog-card__img">
                            </div>

                            <div class="blog-card__content">
                                <div class="blog-card__meta">
                                    <span class="blog-card__icon">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <time datetime="2021-02-21">Feb 21 2021</time>
                                </div>

                                <h3 class="blog-card__title ">Designe Inspiration</h3>

                                <p class="blog-card__desc blog-card__desc--small">
                                    Welcome to Marc Jacobs We Want our monthly roundup of new releases and undisputed
                                    favorites.
                                </p>

                                <a href="#!" class="blog-card__link blog-card__link--large">READ MORE</a>
                            </div>

                        </article>
                    </div>


                </div>
                <a href="#!" class="btn btn--small">Read All</a>
            </div>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>
        <script type="module" src="./main.js"></script>
</body>

</html>